<!DOCTYPE html>
<html lang="en">

<head>
    <title>RPG cards</title>
    <meta charset="UTF-8">
    <!-- Library: jQuery -->
    <script type="text/javascript" src="lib/jquery/jquery.min.js" charset="utf-8"></script>
    <!-- Library: Bootstrap -->
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap-theme.min.css" />
    <!-- Library: Bootstrap typeahead -->
    <script type="text/javascript" src="lib/typeahead/bootstrap3-typeahead.min.js" charset="utf-8"></script>
    <!-- Library: Color picker -->
    <link href="lib/colorpicker/css/bootstrap-colorselector.css" rel="stylesheet" />
    <script type="text/javascript" src="lib/colorpicker/js/bootstrap-colorselector.js" charset="utf-8"></script>
    <!-- Library: Vue  -->
    <script type="text/javascript" src="lib/vue/vue.global.js"></script>
    <!-- Data -->
    <script type="text/javascript" src="data/card_data_example.js"></script>
    <!-- Javascript -->
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/cards.js"></script>
    <script type="module" src="js/colors.js"></script>
    <script type="module" src="js/generate.js"></script>
    <script type="module" src="js/icons.js"></script>
    <script type="text/javascript" defer src="js/ui.js"></script>
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora:700' rel='stylesheet' type='text/css'>
    <link href="fonts/game-icons.css" rel="stylesheet" />
    <!-- CSS -->
    <link href="css/ui.css" rel="stylesheet" />
    <link href="css/cards.css" rel="stylesheet" />
    <link href="css/card-size.css" rel="stylesheet" />
    <link href="css/icons.css" rel="stylesheet" />
    <link href="css/custom-icons.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
</head>

<body>
    <div id="app">
    <div class="container-fluid">
        <!--<h1 class="page-header">RPG card generator</h1>-->
        <div class="row">
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <strong>Note</strong>
                Click on "Open help" to display some information about how to use this generator.
                However, if you find a bug or have a feature request, please note that <strong>this project is rarely maintained</strong>.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-3">


                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    File: {{save_file.name}}
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="headingOne">
                            <div class="panel-body">
                                <!-- PANEL BODY -->
                                <!-- <form style="display:none" id="file-load-form">
                                    <input type="file" id="file-load" name="files[]" multiple class="form-control" style="display:none" />
                                </form> -->
                                <form role="form" class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <button type="button" class="btn btn-info btn-block" @click="openHelp">Open Help</button>
                                        </div>
                                        <div class="col-sm-6">
                                            <button type="button" class="btn btn-danger btn-block" @click="deleteAll">Delete all</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <button type="button" class="btn btn-primary btn-block" @click="loadSample">Load sample</button>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="file" id="replace_from_file" @change="loadFileControl" ref="replace_from_file" data-replace="true" multiple style="display:none" />
                                            <button type="button" class="btn btn-primary btn-block" @click="loadFileButton" data-control-ref="replace_from_file">Replace from file</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <input class="form-control" type="text" v-model="save_file.name" title="File Name" />
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="file" id="add_from_file" @change="loadFileControl" ref="add_from_file" data-replace="false" multiple style="display:none" />
                                            <button type="button" class="btn btn-primary btn-block" @click="loadFileButton" data-control-ref="add_from_file">Add from file</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                        </div>
                                        <div class="col-sm-6">
                                            <button type="button" class="btn btn-primary btn-block" @click="saveToFile">Save to file</button>
                                            <a href="" :download="save_file.name" id="file-save-link" style="display:none">Hidden download link</a>
                                        </div>
                                    </div>
                                    <!--<span class="help-block">Generated cards open in a new tab or window.</span>-->
                                </form>
                                <!-- /PANEL BODY -->
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <!-- PANEL TITLE -->
                                    Page
                                    <!-- /PANEL TITLE -->
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <!-- PANEL BODY -->
                                <div role="form" class="form-horizontal">
                                    <div class="form-group">
                                        <label for="page-size" class="col-sm-4 control-label">Page Size</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="page-size" v-model="page_options.defined_size">
                                                <option value="210mm,297mm">A4</option>
                                                <option value="210mm,280mm">PA4</option>
                                                <option value="8.5in,11in">US letter</option>
                                                <option value="2.5in,3.5in">2.5&quot; x 3.5&quot;</option>
                                                <option value="">Custom</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" style="display: flex; align-items: center;">
                                        <div class="col-sm-4">
                                            <div class="text-right text-muted">
                                                <i>{{page_options.orientation}}</i>
                                            </div>
                                        </div>
                                        <div class="col-sm-8" style="display: flex;">
                                            <input type="text" class="form-control" v-model="page_options.width">
                                            <div class="text-center">
                                                <button class="btn btn-secondary" @click="rotatePage">&times;</button>
                                            </div>
                                            <input type="text" class="form-control" v-model="page_options.height">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="card-size" class="col-sm-4 control-label">Card Size</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="card-size" v-model="card_options.defined_size">
                                                <option value="2.5in,3.5in">Standard, Poker - 2 1/2” &times; 3 1/2”</option>
                                                <option value="2.25in,3.5in">Standard, American - 2 1/4” &times; 3 1/2”</option>
                                                <option value="2.3125in,3.5625in">Standard, European - 2 5/16” &times; 3 9/16”</option>
                                                <option value="3in,2in">Standard Small - 3” &times; 2”</option>
                                                <option value="3.5in,5in">Standard Large - 3 1/2” &times; 5”</option>
                                                <option value="3.5in,5.5in">Standard Jumbo - 3 1/2” &times; 5 1/2”</option>
                                                <option value="1.75in,2.5in">Mini - 1 3/4” &times; 2 1/2”</option>
                                                <option value="1.625in,2.5in">Mini, American - 1 5/8” &times; 2 1/2”</option>
                                                <option value="1.6875in,2.625in">Mini, European - 1 11/16” &times; 2 5/8”</option>
                                                <option value="2.25in,3.5in">Bridge - 2 1/4” &times; 3 1/2”</option>
                                                <option value="2.75in,4.75in">Tarot - 2 3/4” &times; 4 3/4”</option>
                                                <option value="3.5in,6in">Tarot Large - 3 1/2” &times; 6”</option>
                                                <option value="3.5in,2in">Business - 3 1/2” &times; 2”</option>
                                                <option value="1.75in,3.5in">Domino - 1 3/4” &times; 3 1/2”</option>
                                                <option value="3in,4.5in">Index Small - 3” &times; 4 1/2”</option>
                                                <option value="3in,5in">Index Regular - 3” &times; 5”</option>
                                                <option value="3in,5.5in">Index Large - 3” &times; 5 1/2”</option>
                                                <option value="4.75in,7in">Index Giant - 4 3/4” &times; 7”</option>
                                                <option value="3in,3in">Square Small - 3” &times; 3”</option>
                                                <option value="3.5in,3.5in">Square Regular - 3 1/2” &times; 3 1/2”</option>
                                                <option value="4.75in,4.75in">Square Large - 4 3/4” &times; 4 3/4”</option>
                                                <option value="7.5in,5.0in">7 1/2” &times; 5”</option>
                                                <option value="">Custom</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" style="display: flex; align-items: center;">
                                        <div class="col-sm-4">
                                            <div class="text-right text-muted">
                                                <i>{{card_options.orientation}}</i>
                                            </div>
                                        </div>
                                        <div class="col-sm-8" style="display: flex;">
                                            <input type="text" class="form-control" v-model="card_options.width">
                                            <div class="text-center">
                                                <button class="btn btn-secondary" @click="rotateCard">&times;</button>
                                            </div>
                                            <input type="text" class="form-control" v-model="card_options.height">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="card-arrangement" class="col-sm-4 control-label">Arrangement</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" id="card-arrangement" v-model="page_options.card_arrangement">
                                                <option value="doublesided">Double sided printing - flip on short edge -</option>
                                                <option value="front_only">Front side only</option>
                                                <option value="side_by_side">Side by side</option>
                                                <option value="side_by_side_alt">Side by side, alternating</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="page-rows" class="col-sm-4 control-label">Cards/Page</label>
                                        <div class="col-sm-8" style="display: flex;">
                                            <input type="number" class="form-control" v-model="page_options.rows">
                                            <div class="text-center">
                                                <button class="btn btn-secondary" @click="rotateGrid">&times;</button>
                                            </div>
                                            <input type="number" class="form-control" v-model="page_options.columns">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="foreground-color" class="col-sm-4 control-label">Zoom</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <input type="number" class="form-control" v-model="page_options.zoom">
                                                <div class="input-group-addon">%</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="rounded-corners" class="col-sm-4 control-label">Corners</label>
                                        <div class="col-sm-8">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" v-model="card_options.rounded_corners"> Rounded card corners
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="foreground-color" class="col-sm-4 control-label">Front color</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <select id="foreground_color_selector" class="colorselector-data" v-model="card_options.foreground_color">
                                                    <option v-for="color in card_colors" :value="color" :data-color="color">{{color}}</option>
                                                <input type="text" id="foreground-color" class="form-control" placeholder="Front page color" v-model="card_options.foreground_color">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="background-color" class="col-sm-4 control-label">Back color</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <select id="background_color_selector" class="colorselector-data" v-model="card_options.background_color">
                                                    <option v-for="color in card_colors" :value="color" :data-color="color">{{color}}</option>
                                                </select>
                                                <input type="text" id="background-color" class="form-control"
                                                    placeholder="Back page color" v-model="card_options.background_color">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="form" class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-sm-6">

                                        </div>
                                        <div class="col-sm-6">
                                            <button type="button" class="btn btn-success btn-block" @click="generateHtml">Generate</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- /PANEL BODY -->
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <!-- PANEL TITLE -->
                                    Default
                                    <!-- /PANEL TITLE -->
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="headingThree">
                            <div class="panel-body">
                                <!-- PANEL BODY -->
                                <form role="form" class="form-horizontal">
                                    <div class="form-group">
                                        <label for="default-icon" class="col-sm-2 control-label">Icon</label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <a class="btn btn-default" type="button" :href="icon_search_website" target="_blank" title="Search for game icons">Search</a>
                                                </span>
                                                <input type="text" id="default-icon" class="form-control icon-list"
                                                    placeholder="Icon name" v-model="card_options.default_icon">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-primary btn-block" @click="applyBackIconToAll" title="Apply icon to back">Apply to back</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="small-icons" class="col-sm-2 control-label"></label>
                                        <div class="col-sm-6">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" id="small-icons" v-model="card_options.icon_inline"> Use small icons in front
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-primary btn-block" @click="applyIconToAll" title="Apply icon to front">Apply to front</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="default-color" class="col-sm-2 control-label">Color</label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <select id="default_color_selector" class="colorselector-data" v-model="card_options.default_color">
                                                    <option v-for="color in card_colors" :value="color" :data-color="color">{{color}}</option>
                                                </select>
                                                <input type="text" id="default-color" class="form-control"
                                                    placeholder="Card color" v-model="card_options.default_color">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-primary btn-block" @click="applyColorToAll" title="Apply color to all">Apply to all</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="default-title-size" class="col-sm-2 control-label">Title</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="default-title-size" v-model="card_options.default_title_size">
                                                <option value="16">16pt font</option>
                                                <option value="15">15pt font</option>
                                                <option value="14">14pt font</option>
                                                <option value="13">13pt font</option>
                                                <option value="12">12pt font</option>
                                                <option value="11">11pt font</option>
                                                <option value="10">10pt font</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-primary btn-block" @click="resetTitleFontSizeToAll" title="Reset title font size on all cards">Reset All</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="default-card-font-size" class="col-sm-2 control-label">Content</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="default-card-font-size" v-model="card_options.default_card_font_size">
                                                <option value="smaller">Smaller</option>
                                                <option value="inherit">Inherit</option>
                                                <option value="12">12px font</option>
                                                <option value="11">11px font</option>
                                                <option value="10">10px font</option>
                                                <option value="9">9px font</option>
                                                <option value="8">8px font</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-primary btn-block" @click="resetCardFontSizeToAll" title="Reset content font size on all cards">Reset All</button>
                                        </div>
                                    </div>
                                </form>
                                <!-- /PANEL BODY -->
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Card List: {{card_count}} unique {{card_plural}}
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <div class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <button type="button" class="btn btn-danger btn-block" @click="deleteCard" :disabled="!selected_card">Delete card</button>
                                        </div>
                                        <div class="col-sm-6">
                                            <button type="button" class="btn btn-primary btn-block" @click="addNewCard">Add new card</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <select class="form-control" size="12" v-model="selected_index">
                                                <option 
                                                    v-for="(card, i) in card_list" 
                                                    :value="i"
                                                    :selected="i == selected_index">{{card.title}}</option>
                                            </select>
                                        </div>                                        
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <button type="button" class="btn btn-primary btn-block" @click="sortCardsShow">Sort</button>
                                        </div>
                                        <div class="col-sm-6">
                                            <button type="button" class="btn btn-primary btn-block" @click="filterCardsShow">Map/Filter</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--<h3>Card</h3>-->
            <div class="col-md-12 col-lg-5 panel panel-default">
                <div class="form-horizontal panel-body" role="form" v-if="selected_card">
                    <div class="form-group">
                        <label for="card-title" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" id="card-title" class="form-control" placeholder="Title" v-model="selected_card.title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="card-tags" class="col-sm-2 control-label">Tags</label>
                        <div class="col-sm-10">
                            <input type="text" id="card-tags" class="form-control" placeholder="Tags, comma separated" v-model.lazy="selected_tags">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="card-contents" class="col-sm-2 control-label">Contents</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="14" id="card-contents" v-model="selected_content"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="card-title-size" class="col-sm-2 control-label">Title Font Size</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="card-title-size" v-model="selected_card.title_size">
                                <option value="" default>default font</option>
                                <option value="16">16pt font</option>
                                <option value="15">15pt font</option>
                                <option value="14">14pt font</option>
                                <option value="13">13pt font</option>
                                <option value="12">12pt font</option>
                                <option value="11">11pt font</option>
                                <option value="10">10pt font</option>
                            </select>
                        </div>
                        <label for="card-font-size" class="col-sm-2 control-label">Card Font Size</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="card-font-size" v-model="selected_card.font_size">
                                <option value="" default>default font</option>
                                <option value="smaller">smaller</option>
                                <option value="12">12pt font</option>
                                <option value="11">11pt font</option>
                                <option value="10">10pt font</option>
                                <option value="9">9pt font</option>
                                <option value="8">8pt font</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="card-icon" class="col-sm-2 control-label">Front Icons</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <a class="btn btn-default" type="button" :href="icon_search_website" target="_blank" title="Search for game icons">Search</a>
                                </span>
                                <input type="text" id="card-icon" class="form-control icon-list"
                                    placeholder="Card icons, space separated" v-model="selected_card.icon">
                            </div>
                        </div>
                        <label for="card-icon-back" class="col-sm-2 control-label">Back icon</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <a class="btn btn-default" type="button" :href="icon_search_website" target="_blank" title="Search for game icons">Search</a>
                                </span>
                                <input type="text" id="card-icon-back" class="form-control icon-list"
                                    placeholder="Same as front" v-model="selected_card.icon_back">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="card-color" class="col-sm-2 control-label">Color</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <select id="card_color_selector" class="colorselector-data" v-model="selected_card.color">
                                    <option v-for="color in card_colors" :value="color" :data-color="color">{{color}}</option>
                                </select>
                                <input type="text" id="card-color" class="form-control" placeholder="Default color" v-model="selected_card.color">
                            </div>
                        </div>
                        <label for="card-background" class="col-sm-2 control-label">Background</label>
                        <div class="col-sm-4">
                            <input type="text" id="card-background" class="form-control"
                                placeholder="Background image URL" v-model="selected_card.background_image">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-primary btn-block" @click="duplicateCard">Duplicate card</button>
                        </div>
                        <label for="card-count" class="col-sm-2 control-label">Count</label>
                        <div class="col-sm-4">
                            <input type="number" id="card-count" class="form-control" placeholder="Count" v-model="selected_card.count">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <!--<h3>Preview</h3>-->
                <div id="preview-container" class="preview-container">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal" id="print-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Printing generated cards</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>The generated cards open in a new tab or window. If you don't see any new tab or window,
                            check your popup and script blockers. If that does not help, try disabling all addons.</li>
                        <li>Make sure you enable the printing of background images and colors in your browser.</li>
                        <li>Make sure your printer uses the correct paper size (same as in the editor).</li>
                        <li>Enable double sided printing (flip on long edge).</li>
                        <li>Do not scale the document to fit the page_options. Print at original size.</li>
                        <li>
                            Some printers are not very precise (pages print slightly shifted or rotated) and the cards
                            will not line up with the card backs.
                            If this is the case, there's not much you can do.
                            Try making the page background the same color as the cards, so that you won't get any white
                            edges on the card.
                            If that does not help, try a different printer or print single-sided.
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok, got it</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal (Info)-->
    <div class="modal" id="help-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">RPG card generator</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>
                            If you find a bug or have a feature request, you can post them at the <a
                                href="https://github.com/crobi/rpg-cards/issues">Github project site</a> to maintain a
                            record if you wish.
                            However, it's not guarantee if and when they will be reviewed.
                        </li>
                        <li>Some RPG systems are protected by copyright. Even if some spell/item data is freely
                            available, it does not mean you may redistribute cards containing such data.</li>
                        <li>
                            The user interface consists of three columns:
                            <img alt="help" src="img/help/help.png"
                                style="max-width:95%; display:block; padding: 5px; margin: 10px 0 10px 0; border: 1px solid #ebebeb; box-shadow: 0 0 5px #ebebeb;" />
                            The left column contains the menu and global settings.
                            In the middle menu, you can select and edit individual cards.
                            The right column contains a preview of the selected card.
                        </li>
                        <li>
                            To use the generator, either load the sample card deck ("Load sample"),
                            load a card deck from a file ("Load from file"),
                            or manually add some cards.
                            When you're done, click on "Generate" to generate a document with all your cards, which can
                            then be printed.
                        </li>
                        <li>
                            To learn about what features are available to define a card, inspect the sample deck or
                            read some basic documentation at the <a href="http://crobi.github.io/rpg-cards/">project
                                site</a>.
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal (Sort)-->
    <div class="modal" id="sort-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sort cards</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Enter the comparison function below.
                        The comparison function is a block of javascript code.
                        Return -1 if card_a should appear before card_b.
                    </p>
                    <textarea class="form-control" rows="10" id="sort-function" wrap="off">
if (card_a.title < card_b.title) {
    return -1;
}
else if (card_a.title > card_b.title) {
    return 1;
}
else {
    return 0;
}
                    </textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" @click="sortCards">Sort</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal (Filter)-->
    <div class="modal" id="filter-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Filter/map cards</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Enter code below that will be executed for each card in the deck.
                        Return false to remove the current card from the deck.
                    </p>
                    <textarea class="form-control" rows="10" id="filter-function" wrap="off">
// Color all spell cards yellow
if (card_has_tag(card, "spell")) {
    card.color = "yellow";
}

// Remove all creature cards
if (card_has_tag(card, "creature")) {
    return false;
}
                    </textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" @click="filterCards">Filter</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script type="module" defer src="js/app.js"></script>
</body>

</html>